<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/catalog" class="navbar-brand">Rate my music!</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a href="/catalog/releases" class="nav-link">Releases</a>
            </li>
            <li class="nav-item e">
                <a href="/catalog/artists" class="nav-link">Artists</a>
            </li>
               <li class="nav-item">
                <a href="/catalog/bands" class="nav-link">Bands</a>
            </li>
               <li class="nav-item">
                <a href="/catalog/genres" class="nav-link">Genres</a>
            </li>
     
        </ul>
        <ul class="navbar-nav ml-auto">
           {{#if release_list}}
            <li>
                <a href="/catalog/releases/create" type="link" class="btn btn-primary mx-auto">New Release</a>
            </li>
           {{/if}}
            {{#if genre_list}}
            <li>
                <a href="/catalog/genres/create" type="link" class="btn btn-primary mx-auto">New Genre</a>
            </li>
           {{/if}}
            {{#if artist_list}}
            <li>
                <a href="/catalog/artists/create" type="link" class="btn btn-primary mx-auto">New Artist</a>
            </li>
           {{/if}}
            {{#if band_list}}
            <li>
                <a href="/catalog/bands/create" type="link" class="btn btn-primary mx-auto">New Band</a>
            </li>
           {{/if}}
        </ul>
    </div>
</nav>