<div class="container">
    {{#each artist_list}}
        <div className="row">
            <a href="/catalog/artists/{{this._id}}">
            {{name}} 
            </a>
        </div>
    {{/each}}
</div>    
