<div class="container ">
    <div class="row ">
        <div class="col-sm text-center ">

                <h4 class="text-center">{{artist.name}}</h4>
              
        </div>
    </div>
    <div class="row justify-content-sm-center">
        <div class="col-sm-2"><a href="/catalog/artists/{{artist._id}}/update" class="btn btn-primary">Update Artist</a></div>
        <div class="col-sm-2"><a href="/catalog/artists/{{artist._id}}/delete" class="btn btn-primary">Delete Artist</a></div>
    </div>
</div>