<div class="container">
    {{#each band_list}}
        <div className="row">
            <a href="/catalog/bands/{{this._id}}">
            {{name}} 
            </a>
        </div>
    {{/each}}
</div>    
