<div class="container">
    <h1>I like this stuff.</h1>
    <h4>Currently there are:</h4>
    <ul class="list-unstyled">
        <li>Releases: {{data.release_count}}</li>
        <li>Bands: {{data.band_count}}</li> 
        <li>Genres: {{data.genre_count}}</li>
        <li>Artists: {{data.artist_count}}</li>
    </ul>

</div>