<div class="content">
    <h3>Are you sure you want to delete {{release.title}} </h3>

    <form method="POST" action="">
        <div class="form-group">
            <input type="hidden" name="id" required="true" value="{{release._id}}"/>
            <button class="btn-primary" type="submit">Delete</button>
        </div>
    </form>
    
</div>